:root {
  --ms-primary: #3892c2;
  --ms-secondary: #caf0f8;
}

.ms-nav-btn {
  background-color: transparent;
  transition: all ease-in-out 200ms;
  color: var(--bs-muted);
}

.ms-nav-btn:hover {
  background-color: rgba(202, 240, 248, 0.25) !important;
  color: var(--ms-primary) !important;
}
